h1{
	text-align: center;
    font-size: 40px;
}

img{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 230px;
	width: 450px;
	line-height: 150px;
	margin: auto;
}

table{
    border-spacing: 10px;
    border-color: lightblue;
    border-radius: 5px;
}
td{
    border-spacing: 5px;
    border-radius: 5px;
    border-color: aquamarine;
}

input[type=submit]{
	background-color: lightblue;
	height: 60px;
	width: 350px;
	font-size: 20px;
	margin-right: 40px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

input[type=submit]:hover{
	color: lightcyan;
}